@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500&family=Rajdhani&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
body{
    display:flex;
    height: 100vh;
    font-family:'Wix Madefor Display', sans-serif;
    font-size: 25px;
    color: aliceblue;
     z-index: 99999;
    
}
video {
    position: absolute;
    top: 0;
    left: 0;
  }
 
  video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }
 main {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 99999;  
    position: relative;
    height:100vh;
    width:100%;
    margin-top:20px;
    flex:1 1;
    backdrop-filter: blur(5px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

   
  
 
 }
.location,
.temprature{
    z-index: 99999;  
    position: relative;
    font-family: 'Poppins', sans-serif;
  
}
.temprature{

    z-index: 999;  
}
.degree-block{

    cursor:pointer;
    z-index: 999;  
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.degree-block span{
    font-family: 'Rajdhani', sans-serif;
}
.degree-block h2{
    font-size: 40px;
    color:#FFD700;
    font-family: 'Rajdhani', sans-serif;
}


#head{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    color:#FFD700;
    z-index: 999;  
    font-size:28px;
    width:300px;
    display:flex;
    margin-left:20px;
    margin-top:10px;
    padding:20px;
    backdrop-filter: blur(5px);
}
@media (max-width: 600px) {
    body {
    
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            font-size: 20px;
            max-width: 600px;
        
            padding:35px;
           
      

          
    }
    .head{
        font-size: 28px;;
        margin-bottom: 10px;
        position:absolute;
        top:1px;
        right:2px;
    
     
        
       
    }
     main{
      margin-left: 25px;;
        width: 100%; 
      height: 100%; 
      margin-top: 33px; 
      position: fixed; 
        z-index: 9;
     }
     main .weather-box{
        webkit-backdrop-filter: blur(5px); 
        backdrop-filter: blur(5px); 
     }
     video {
        /** Simulationg background-size: cover */
        object-fit: cover;
        height: 100%;
        width: 100%;
      
        position: absolute;
        top: 0;
        left: 0;
      }
  }
